table.displaytag {
	border: 1px solid #666;
	width: 80%;
	margin: 20px 0 20px 0 !important;
}

table.displaytag th{
	padding: 2px 4px 2px 4px !important;
	text-align: left;
	vertical-align: top;
}

table.displaytag td{
    text-align: left;
    vertical-align: top;
}


table.displaytag thead tr {
	background-color: #333;
}

table.displaytag th.sorted {
	background-color: orange;
}

table.displaytag th a,table.displaytag th a:visited {
	color: white;
    text-decoration: none;
}

table.displaytag th
{
    min-width:25px;
    font-style: normal;
    color: white;
    background-color: #333;

}

table.displaytag th a:hover {
	text-decoration: none;
}

table.displaytag th.sorted a, table.displaytag th.sortable a {
  background-repeat: no-repeat;
	background-position: top right;
	display: block;
	width: 100%;
}

table.displaytag th.sortable a {
	background-image: url(img/arrow_off.png);
}

table.displaytag th.order1 a {
	background-image: url(img/arrow_down.png);
}

table.displaytag th.order2 a {
	background-image: url(img/arrow_up.png);
}

table.displaytag tr.odd {
	background-color: #fff;
}

table.displaytag tr.tableRowEven, table.displaytag tr.even {
	background-color: #ddd;
}

table.displaytag div.exportlinks {
	background-color: #eee;
	border: 1px dotted #999;
	padding: 2px 4px 2px 4px;
	margin: 2px 0 10px 0;
	width: 79%;
}

table.displaytag span.export {
	padding: 0 4px 1px 20px;
	display: inline;
	display: inline-block;
	cursor: pointer;
}

table.displaytag span.excel {
	background-image: url(img/ico_file_excel.png);
}

table.displaytag span.csv {
	background-image: url(img/ico_file_csv.png);
}

table.displaytag span.xml {
	background-image: url(img/ico_file_xml.png);
}

table.displaytag span.pdf {
	background-image: url(img/ico_file_pdf.png);
}

table.displaytag span.rtf {
	background-image: url(img/ico_file_rtf.png);
}

table.displaytag span.pagebanner {
	background-color: #eee;
	border: 1px dotted #999;
	padding: 2px 4px 2px 4px;
	width: 79%;
	margin-top: 10px;
	display: block;
	border-bottom: none;
}

table.displaytag span.pagelinks {
	background-color: #eee;
	border: 1px dotted #999;
	padding: 2px 4px 2px 4px;
	width: 79%;
	display: block;
	border-top: none;
	margin-bottom: -5px;
}


table.displaytag .group-1 {
  font-weight:bold;
  padding-bottom:10px;
  border-top:1px solid black;
}
table.displaytag .group-2 {
  font-style:italic;
  border-top: 1px solid black;

}
table.displaytag .subtotal-sum, table.displaytag .grandtotal-sum {
  font-weight:bold;
  text-align:right;
}
table.displaytag .subtotal-header {
  padding-bottom: 0px;
  border-top: 1px solid white;
}
table.displaytag .subtotal-label, table.displaytag .grandtotal-label {
  border-top: 1px solid white;
  font-weight: bold;
}
table.displaytag .grouped-table tr.even {
  background-color: #fff;
}
table.displaytag .grouped-table tr.odd {
  background-color: #fff;
}
table.displaytag .grandtotal-row {
  border-top: 2px solid black;
}
