.startshopping {
    text-align: center;
    color: #ff9900;
    padding: 20px 0px;
    font-size: 20px;
    line-height: 22px;
}

.lela-mobile-content {
    background-color: #efefef;
}

#cat-e {
    background: #3f3f3f;
    color: white;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    padding: 1em 0;
}

#categories-list {
    padding-left: 2%;
    padding-top: 2%;
    margin-right: -2%;
}

#categories-list .cat {
    float: left;
    margin-right: 2%;
    margin-bottom: 1.5%;
    width: 31%;
    position: relative;
    overflow: hidden;
}

.cat-img {
    width: 100%;
    z-index: 1;
}

.cat-name {
    display: block;
    position: absolute;
    top: -18px;
    left: 0;
    width: 90%;
    height: 100%;
    z-index: 2;
    font-size: 1em;
    line-height: 1em;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    padding: 0 5%;
}

.cat a {
    position: relative;
}


@media all and (orientation:landscape) {
    .cat-name {
        font-size: 1em;
    }
}

@media all and (orientation:portrait) {
    .cat-name {
        font-size: 0.8em;
        top: -10px;
    }
}