/*a { color:#588cb7; }*/

.nav .g-tab.selected, .nav .g-tab.selected-on {
    background:#588cb7 url('../../images/skins/electronics/caret_grp_down.gif') no-repeat right ;
}

#p-nav a.selected {
    color:#588cb7;
}
.color-img a.selected {
    border: 3px solid #666;
}

.tbl tr.row-even td {
    background:#efefef;
}

a.l-list-add, a.l-list-saved {
    color:#588cb7;
}

.l-compare-saved, .l-compare, .l-compare-waiting, .page-grid .compare-btn {
    color:#fff;
    background: #588cb7 url('/static/images/skins/electronics/Compare_Button_ON.png') no-repeat 5px 3px;
}

.l-compare:hover, .page-grid .compare-btn:hover, .page-grid .waiting {
    color:white;
    text-decoration: none !important;
    background: #d6d6d6 url('/static/images/skins/electronics/Compare_Button_ON.png') no-repeat 5px 3px !important;
}

#buy-t a, #buy-t span#buy-tab3 {
    background-repeat: no-repeat;
    color:#ff9900;
}

#buy-t a.selected {
    background-repeat: no-repeat;
    color:#666;
}


table.specs th { background:#efefef; }

#zip-f a {
    background:#ff9900;
}


.save-now, .remove-now {
    background:url('../../images/skins/electronics/Add_lela_list_OFF.png') no-repeat left center;
}

.remove-now {
    background:url('../../images/skins/electronics/Add_lela_list_RM.png') no-repeat left center;
}


#quiz-start-compat .lquiz {
    background:#ff9900 url('../../images/buttons/s_quiz.png') no-repeat right 14px;
}

#product-info .c-btn, .page-grid .c-btn {
    background: transparent url('../../images/skins/electronics/Compare_unchecked.png') no-repeat top left;
}

#product-info .c-btn-checked, .page-grid .c-btn-checked {
    background: transparent url('../../images/skins/electronics/Compare_checked.png') no-repeat top left !important;
}

.item-over .store-name a {
    color: #ff9900;
}

#price-range .ui-slider-range {
    background:#dee8f1 url('/static/images/skins/electronics/slide_back1.png') repeat-x !important;
}

#price-range .ui-slider-handle {
    background: transparent url('/static/images/skins/electronics/slider_handle.png') no-repeat 0px 0px !important;
}

.filter-options .filter-option-selected {
    border-color: #6da3c9;
    background-color: #6da3c9;
    color: white !important;
}

.filter-options .filter-option:hover {
    border-color: #6da3c9;
    -webkit-box-shadow:  0px 0px 0px 3px rgba(109, 163, 201, 1);
    box-shadow:  0px 0px 0px 3px rgba(109, 163, 201, 1);
    color: #3f3f3f;
}

#data-sort .jqTransformSelectWrapper {
    background: transparent url('/static/images/skins/electronics/select_left.png') repeat-x 0px 0px !important;
}

#data-sort .jqTransformSelectOpen {
    background: transparent url('/static/images/skins/electronics/select_right.png') no-repeat 0px 0px !important;
}

.page-grid .color-header {
    background-image: linear-gradient(bottom, rgb(83,132,173) 25%, rgb(115,169,207) 75%);
    background-image: -o-linear-gradient(bottom, rgb(83,132,173) 25%, rgb(115,169,207) 75%);
    background-image: -moz-linear-gradient(bottom, rgb(83,132,173) 25%, rgb(115,169,207) 75%);
    background-image: -webkit-linear-gradient(bottom, rgb(83,132,173) 25%, rgb(115,169,207) 75%);
    background-image: -ms-linear-gradient(bottom, rgb(83,132,173) 25%, rgb(115,169,207) 75%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.25, rgb(83,132,173)),
        color-stop(0.75, rgb(115,169,207))
    );
    background-color: #588cb7;
}

#p-filters h2.filters-enabled {
    background-color: #6da3c9;
}

.brand-header h1 { color:#588cb7 !important; }
