#categories-list {
    margin-bottom: -25px;
    margin-left: 2px;
    margin-right: -2px;
}

.clear {
    clear: both;
}

#categories-list .cat {
    float: left;
    width: 244px;
    height: 244px;
    overflow: hidden;
    background-color: #fff;
    position: relative;
    border: 2px solid #EFEFEF;
    margin-right: 3px;
    margin-bottom: 3px;
}

.page-categories #introduction {
    background: transparent url('/static/images/placeholders/categories/post_quiz/LANDING_MARQUEE_ANIMATION_v01_bubbles.gif');
    height: 398px;
}

.page-categories #introduction-text em {
    font-weight: bold;
    font-style: normal;
    color: #ff9900;
}

.page-categories #introduction h2 {
    text-align: left;
    color: #333333;
    font-size: 32px;
    font-weight: normal;
    padding: 50px 0 0px 100px;
}

.cat-img-over, .cat-img {
    position: absolute;
    top: 0px;
    left: 0px;
}

.page-categories #introduction p {
    font-size: 18px;
    text-align: left;
    color: #999;
}

.cat-orange {
    background-color: #ff9900;
}

.cat:hover {
    padding: 0px;
}

.cat-orange:hover {
    border: 2px solid #EFEFEF !important;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.cat img {
    float: right;
}

.cat span {
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    color: #999999;
    top: 191px;
    left: 10px;
}

#cat-e {
    color: white;
    font-size: 30px;
    font-weight: bold;
    background-color: #ff9900;
    text-align: center;
    width: 100%;
    padding: 10px 0;
    margin-bottom: 10px;
    margin-top: 0px;
    display: none;
}

p#introduction-text span {
    color: #ff9900;
    font-weight: bold;
}

.page-categories .lela-page-header {
    background: transparent url('/static/images/placeholders/categories/post_quiz/LANDING_MARQUEE_ANIMATION_v01.jpg');
    height: 398px;
    padding: 0;
}

.page-categories #introduction-text {
    padding: 0 0 0 100px;
}

.page-categories #introduction-text p {
    color: #333333;
    font-size: 18px;
    width: 350px;
    line-height: 24px;
}

.page-categories a.lq {
    background: #f18616; /* Old browsers */
    background: -moz-linear-gradient(top, #f7981d 0%, #f18616 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7981d), color-stop(100%,#f18616)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f7981d 0%,#f18616 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f7981d 0%,#f18616 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f7981d 0%,#f18616 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f7981d 0%,#f18616 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7981d', endColorstr='#f18616',GradientType=0 ); /* IE6-9 */
    color:#fff;
    text-align: center;
    padding:11px 50px;
    line-height: 20px;
    position: relative;
    top: 20px;
    display: inline;
    font-weight:bold;
    font-size: 16px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition:all 0.2s;
    -moz-transition:all 0.2s;
    -o-transition:all 0.2s;
    transition:all 0.2s;
    z-index: 10;
}

.page-categories a.lq:hover {
    background: #333333; /* Old browsers */
    background: -moz-linear-gradient(top,  #333333 0%, #3f3f3f 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#333333), color-stop(100%,#3f3f3f)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #333333 0%,#3f3f3f 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #333333 0%,#3f3f3f 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #333333 0%,#3f3f3f 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #333333 0%,#3f3f3f 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#3f3f3f',GradientType=0 ); /* IE6-9 */
}

.page-categories .lela-page-content {
    padding-top: 0px;
    margin-top: -12px;
    padding-right: 0px;
    padding-left: 20px;
}

.page-categories .cat-group {
    width: 317px;
    float: left;
    margin-right: 15px;
    margin-bottom: 20px;
}

.page-categories .cat-group h3 {
    text-align: left;
    font-weight: normal;
    margin-bottom: 10px;
}

.page-categories .cat-group .cat {
    float: left;
    width: 155px !important;
    height: 155px !important;
    overflow: hidden;
    background-color: #fff;
    position: relative;
    border: none !important;
    margin-right: 2px;
    margin-bottom: 2px;
}

#event-text {
    display: none;
}
