html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
p+p,p+ul,ul+p{margin-top:8px}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
body{}
select,input,textarea,button{font:99% arial,sans-serif;margin:0}
pre,code,kbd,samp{font-family:monospace,sans-serif}
body,select,input,textarea{}
h1,h2,h3,h4,h5,h6{font-weight:bold}
html{overflow-y:scroll}
a:hover,a:active{outline:none}
ul,ol{margin-left:1.8em}
ol{list-style-type:decimal}
nav ul,nav li{margin:0}
small{font-size:85%}
strong,th{font-weight:bold}
td,td img{vertical-align:top}
sub{vertical-align:sub;font-size:smaller}
sup{vertical-align:super;font-size:smaller}
pre{padding:15px;white-space:pre;white-space:pre-wrap;white-space:pre-line;-ms-word-wrap:break-word;word-wrap:break-word}
textarea{overflow:auto}
.ie6 legend,.ie7 legend{margin-left:-7px}
input[type="radio"]{vertical-align:text-bottom}
input[type="checkbox"]{vertical-align:bottom}
.ie7 input[type="checkbox"]{vertical-align:baseline}
.ie6 input{vertical-align:text-bottom}
label,input[type=button],input[type=submit],button{cursor:pointer}
input:invalid,textarea:invalid{-moz-border-radius:1px;-webkit-border-radius:1px;border-radius:1px;-moz-box-shadow:0 0 5px red;-webkit-box-shadow:0 0 5px red;box-shadow:0 0 5px red}
.no-boxshadow input:invalid,.no-boxshadow textarea:invalid{background-color:#f0dddd}
::-moz-selection{background:#94aad8;color:#fff;-webkit-text-shadow:none;text-shadow:none}
::selection{background:#94aad8;color:#fff;-webkit-text-shadow:none;text-shadow:none}
a:link{-webkit-tap-highlight-color:#94aad8}
button{width:auto;overflow:visible}
.ie7 img{-ms-interpolation-mode:bicubic}
.ir{display:block;text-indent:-999em;overflow:hidden;background-repeat:no-repeat;text-align:left;direction:ltr}
.hidden{display:none;visibility:hidden}
.visuallyhidden{position:absolute!important;clip:rect(1px 1px 1px 1px);clip:rect(1px,1px,1px,1px)}
.invisible{visibility:hidden}
.clearfix:before,.clearfix:after{content:"\20";display:block;height:0;visibility:hidden}
.clearfix:after{clear:both}
.clearfix{-ms-zoom:1;zoom:1}
#fancybox-loading{position:fixed;top:50%;left:50%;height:40px;width:40px;margin-top:-20px;margin-left:-20px;cursor:pointer;overflow:hidden;z-index:1104;display:none}
* html #fancybox-loading{position:absolute;margin-top:0}
#fancybox-loading div{position:absolute;top:0;left:0;width:40px;height:480px;background-image:url('//images.babyage.com/icons/ba/fancybox/fancybox.png')}
#fancybox-overlay{position:fixed;top:0;left:0;bottom:0;right:0;background:#000;z-index:1100;display:none}
* html #fancybox-overlay{position:absolute;width:100%}
#fancybox-tmp{padding:0;margin:0;border:0;overflow:auto;display:none}
#fancybox-wrap{position:absolute;top:0;left:0;margin:0;padding:20px;z-index:1101;display:none}
#fancybox-outer{position:relative;width:100%;height:100%;background:#fff}
#fancybox-inner{position:absolute;top:0;left:0;width:1px;height:1px;padding:0;margin:0;outline:none;overflow:hidden}
#fancybox-hide-sel-frame{position:absolute;top:0;left:0;width:100%;height:100%;background:transparent}
#fancybox-close{position:absolute;top:-15px;right:-15px;width:30px;height:30px;background-image:url('//images.babyage.com/icons/ba/fancybox/fancybox.png');background-position:-40px 0;cursor:pointer;z-index:1103;display:none}
#fancybox_error{color:#444;font:normal 12px Arial;line-height:20px;padding:7px;margin:0}
#fancybox-content{height:auto;width:auto;padding:0;margin:0}
#fancybox-img{width:100%;height:100%;padding:0;margin:0;border:none;outline:none;line-height:0;vertical-align:top;-ms-interpolation-mode:bicubic}
#fancybox-frame{position:relative;width:100%;height:100%;border:none;display:block}
#fancybox-title{position:absolute;bottom:0;left:0;font-family:Arial;font-size:12px;z-index:1102}
.fancybox-title-inside{padding:10px 0;text-align:center;color:#333}
.fancybox-title-outside{padding-top:5px;color:#fff;text-align:center;font-weight:bold}
.fancybox-title-over{color:#fff;text-align:left}
#fancybox-title-over{padding:10px;background-image:url('//images.babyage.com/icons/ba/fancybox/fancy_title_over.png');display:block}
#fancybox-title-wrap{display:inline-block}
#fancybox-title-wrap span{height:32px;float:left}
#fancybox-title-left{padding-left:15px;background-image:url('//images.babyage.com/icons/ba/fancybox/fancybox.png');background-position:-40px -90px;background-repeat:no-repeat}
#fancybox-title-main{font-weight:bold;line-height:29px;background-image:url('//images.babyage.com/icons/ba/fancybox/fancybox-x.png');background-position:0 -40px;color:#fff}
#fancybox-title-right{padding-left:15px;background-image:url('//images.babyage.com/icons/ba/fancybox/fancybox.png');background-position:-55px -90px;background-repeat:no-repeat}
#fancybox-left,#fancybox-right{position:absolute;bottom:0;height:100%;width:35%;cursor:pointer;outline:none;background-image:url('//images.babyage.com/icons/ba/fancybox/blank.gif');z-index:1102;display:none}
#fancybox-left{left:0}
#fancybox-right{right:0}
#fancybox-left-ico,#fancybox-right-ico{position:absolute;top:50%;left:-9999px;width:30px;height:30px;margin-top:-15px;cursor:pointer;z-index:1102;display:block}
#fancybox-left-ico{background-image:url('//images.babyage.com/icons/ba/fancybox/fancybox.png');background-position:-40px -30px}
#fancybox-right-ico{background-image:url('//images.babyage.com/icons/ba/fancybox/fancybox.png');background-position:-40px -60px}
#fancybox-left,#fancybox-right{visibility:visible}
#fancybox-left span{left:20px}
#fancybox-right span{left:auto;right:20px}
.fancy-bg{position:absolute;padding:0;margin:0;border:0;width:20px;height:20px;z-index:1001}
#fancy-bg-n{top:-20px;left:0;width:100%;background-image:url('//images.babyage.com/icons/ba/fancybox/fancybox-x.png')}
#fancy-bg-ne{top:-20px;right:-20px;background-image:url('//images.babyage.com/icons/ba/fancybox/fancybox.png');background-position:-40px -162px}
#fancy-bg-e{top:0;right:-20px;height:100%;background-image:url('//images.babyage.com/icons/ba/fancybox/fancybox-y.png');background-position:-20px 0}
#fancy-bg-se{bottom:-20px;right:-20px;background-image:url('//images.babyage.com/icons/ba/fancybox/fancybox.png');background-position:-40px -182px}
#fancy-bg-s{bottom:-20px;left:0;width:100%;background-image:url('//images.babyage.com/icons/ba/fancybox/fancybox-x.png');background-position:0 -20px}
#fancy-bg-sw{bottom:-20px;left:-20px;background-image:url('//images.babyage.com/icons/ba/fancybox/fancybox.png');background-position:-40px -142px}
#fancy-bg-w{top:0;left:-20px;height:100%;background-image:url('//images.babyage.com/icons/ba/fancybox/fancybox-y.png')}
#fancy-bg-nw{top:-20px;left:-20px;background-image:url('//images.babyage.com/icons/ba/fancybox/fancybox.png');background-position:-40px -122px}
a{color:#5882c2;text-decoration:none}
a:hover{text-decoration:underline}
input[type="text"],input[type="search"],input[type="password"],input[type="email"],input[type="number"],textarea{border:1px solid #808285;padding:2px}
input[type="text"]:focus,input[type="search"]:focus,input[type="password"]:focus,input[type="email"]:focus,input[type="number"]:focus,textarea:focus{border-color:#5882c2}
body{background:#dae5e9 url('//images.babyage.com/icons/ba/site/bg_tile2.png') top left repeat;font:12px arial,helvetica,sans-serif;color:#696a6d;text-align:center}
div,td{font:12px arial,helvetica,sans-serif}
a img{border:none}
img[onclick]{cursor:pointer}
.no-boxshadow #container{width:977px}
#container{text-align:left;margin:0 auto;width:975px}
#body{background:#fff;-moz-box-shadow:0 0 1em #808285;-webkit-box-shadow:0 0 1em #808285;box-shadow:0 0 1em #808285;margin-bottom:10px}
.mainbox{padding:10px 0}
.no-boxshadow #body{border:1px solid #bcbec0;border-top:none}
#header{padding:0 10px}
h1 a,h1{display:block;height:90px;width:225px;text-indent:-1000em;float:left}
h1.old-search-box a{display:block;height:90px;width:225px;text-indent:-1000em;background:transparent url('//images.babyage.com/icons/ba/big-item-sprite-2.png') -5px -145px no-repeat;float:left}
#text-rotator{width:500px;margin:0;float:left;list-style:none;background:#fff}
#text-rotator .slide{list-style:none;color:#935ea7;font:15px georgia,serif;line-height:21px;font-weight:normal;background:#fff url('//images.babyage.com/icons/ba/site/review_star.png') 0 50% no-repeat;padding-left:15px}
#text-rotator .slide a{color:#935ea7}
#swipe-text{padding:5px;color:#935ea7;font:14px/21px georgia,sans-serif;font-style:italic;text-align:center}
#swipe-text img{margin-right:5px}
#cart-navigation{float:right;list-style:none}
#cart-button #cart-nav-link{color:#5882c2;font:14px/21px georgia,sans-serif;display:block;text-decoration:none;font-weight:bold;vertical-align:middle}
#cart-button a img{vertical-align:middle}
#cart-navigation li{display:inline;float:left;line-height:21px}
#search-tabs-container{margin:0 0 0 0;padding-top:10px}
#search.old-search-box{background:#cde5e4;padding:10px;-moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px}
#search.old-search-box label{display:block;color:#59b8b7;font:16px/22px arial,sans-serif;font-weight:bold;height:18px;padding:4px;padding-right:10px;vertical-align:middle}
.old-search-box #search-box{padding:4px;width:588px;border:1px solid #808285;height:18px}
#search-button{margin-left:10px}
#search.new-search-box #search-button{background:#6d6e71;height:27px;color:#fff;margin-left:3px;width:76px;border:none;padding:3px 10px}
.ie6 #search.new-search-box #search-button,.ie7 #search.new-search-box #search-button{margin-top:1px}
#header-logo-column,#header-search-column,#header-cart-column{float:left}
#header-logo-column{width:230px}
#header-search-column{width:725px}
#search-box-form table{width:100%}
#header-cart-column{text-align:right}
.new-search-box #search-box{padding:4px;border:1px solid #808285;height:18px;width:455px;border-color:#6d6e71}
.gsc-completion-container td{text-align:left;padding:2px 4px}
#csc-completion-selected{background:#935ea7;color:#fff}
#footer{background:#e4ebec;padding:10px}
#social .follow-text{color:#935ea7;font:20px georgia,sans-serif;font-style:italic;vertical-align:middle;padding-left:10px;padding-right:20px;white-space:nowrap}
#bottomnav ul,#bottomnav li,.jCarouselLite ul{padding:0;margin:0;list-style:none}
#footer #bottomnav td{vertical-align:top;font-size:11px;width:20%}
#bottomnav{padding-left:20px;border-left:1px solid #808285}
#bottomnav th{padding-bottom:7px;text-align:left}
#footer-copy img{vertical-align:top}
#footer-copy div.copyright{float:right;font-size:10px;text-align:right}
#navigation{border-spacing:1px;border-collapse:separate}
#navigation td a{display:block;text-align:center;color:#fff;text-decoration:none;padding:6px;font-size:12px}
.nav-0{background:#59b8b7}
.nav-1{background:#5882c2}
.nav-2{background:#935ea7}
.nav-3{background:#aabb4d}
.gift-nav.gift-nav-selected{background:#5882c2}
.gift-nav{background:#e9ecf7}
#navigation td.gift-nav.gift-nav-selected a{color:#fff}
#navigation td.gift-nav a{border:1px solid #5882c2;color:#5882c2}
.left-sidebar{padding:0 10px;width:185px}
.search-options span img{vertical-align:middle}
h2.stripe-blue,h2.stripe-green,h2.stripe-purple{padding:0 0;margin:0;margin-bottom:10px;background:#fff url('//images.babyage.com/icons/ba/sprite-backgrounds.png') 0 -35px repeat-x;color:#5882c2}
h2.stripe-green{color:#59b8b7;background-position:0 0}
h2.stripe-purple{background-position:0 -65px;color:#935ea7}
h2.stripe-blue span,h2.stripe-green span,h2.stripe-purple span{background:#fff;font:20px georgia,sans-serif;margin:auto 10px;padding:0 4px;text-transform:lowercase}
h2.stripe-blue span.untouched,h2.stripe-green span.untouched,h2.stripe-purple span.untouched{text-transform:none}
.product-image{border:1px solid #bcbec0\9;padding:2px;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;-moz-box-shadow:0 0 2px #808285;-webkit-box-shadow:0 0 2px #808285;box-shadow:0 0 2px #808285;background:#fff}
.no-boxshadow .product-image,.ie9 .product-image{padding:1px;border:1px solid #bcbec0}
a.google-upsell:hover .product-image{-moz-box-shadow:0 0 4px #59b8b7;-webkit-box-shadow:0 0 4px #59b8b7;box-shadow:0 0 4px #59b8b7;border-color:#59b8b7}
a.john-upsell:hover .product-image{-moz-box-shadow:0 0 4px #935ea7;-webkit-box-shadow:0 0 4px #935ea7;box-shadow:0 0 4px #935ea7;border-color:#935ea7}
a.manual-upsell:hover .product-image{-moz-box-shadow:0 0 4px #5882c2;-webkit-box-shadow:0 0 4px #5882c2;box-shadow:0 0 4px #5882c2;border-color:#5882c2}
.img-150{width:150px}
.img-170{width:170px}
.tab{min-height:200px;max-height:440px;overflow:auto}
.product-review{border-bottom:1px solid #bcbec0;padding:10px}
.product-review-rating{float:right}
.product-review-header{color:#5882c2;font:14px georgia,serif;margin-bottom:10px}
.product-review-header span{color:#808285;font:12px arial,sans-serif;margin-left:4px}
.product-review-date{color:#808285;font:12px arial,sans-serif;font-weight:bold}
.product-review-header .stars{margin-right:5px}
.product-review-contents{color:#808285;font:12px/18px arial,sans-serif}
.product_detail_wrap{padding:2px 2px 10px 2px}
.product-listing .product_detail_wrap{height:26em}
.product_compare_product_check{padding-bottom:15px}
.product_detail_wrap div{padding:2px 0}
.product_detail_wrap .product_detail_name{padding-top:5px;padding-right:5px;color:#808285;font:11px georgia,serif;font-weight:bold}
.product_detail_variation{font:12px arial,sans-serif}
.product_detail_rating{color:#935ea7;font:10px arial,sans-serif;font-weight:bold}
.product_detail_price{color:#808285;font:14px arial,sans-serif;font-weight:bold}
.product_detail_price a.map-price-link{font-weight:normal}
.product_detail_shiptext,.in-stock-message{color:#59b8b7;font:13px georgia,serif;font-style:italic;display:block}
.product_detail_wrap div.product_detail_shiptext{padding-right:7px}
.product_detail_shiptext.outofstock{color:#808285;font-size:12px}
.out-of-stock-message,.discontinued-message{font:13px georgia,serif;font-style:italic}
.product-page-title{padding-bottom:10px}
#spn_condition{float:none;margin-left:10px}
.in-stock-message{color:#000}
.product-page-section{border:none}
.product-pricing-wrap{margin-top:10px;background:#f8f8f8;border:1px solid #ccc;-moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px;padding:15px 8px}
#free-shipping-li{color:#be1e2d;font-size:18px;line-height:16px}
#free-shipping-li span{display:block;font-size:12px}
.product-variation-selector img{height:24px;margin-top:3px;margin-bottom:3px}
.product-variation-selector .selected img{height:30px}
.product-variation-title .variation-desc-name{font-weight:bold}
.search-options{padding-bottom:10px;margin-bottom:10px;border-bottom:1px solid #bcbec0}
.search-options-scroll{max-height:20em;overflow-x:hidden;overflow-y:auto}
h3.search-options-title{padding-left:10px;padding-bottom:6px}
.search-options a{padding-left:10px;display:block}
.map-price-popup{position:absolute;width:300px;-moz-box-shadow:2px 2px 4px #808285;-webkit-box-shadow:2px 2px 4px #808285;box-shadow:2px 2px 4px #808285;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;background:#fff}
.map-price-popup-title{background:#c6d0ea;text-align:right;padding:3px 5px;-moz-border-radius:4px 4px 0 0;-webkit-border-radius:4px 4px 0 0;border-radius:4px 4px 0 0}
.map-price-popup-title a{display:inline}
.map-price-popup-contents{padding:10px}
.map-price-popup-title a{color:#808285}
.param-level-1-text,.param-level-2-text{color:#565656;margin:4px 10px 8px 0;font-size:11px;line-height:15px}
.param-level-2-text{margin:4px 10px 8px 10px}
.old-price{text-decoration:line-through;padding-right:5px;font-weight:normal;font-size:12px}
.homepage-sidebar a{padding:2px 0 2px 25px;color:#696a6d}
.homepage-sidebar a.home-featured-link{padding-left:10px}
.homepage-sidebar a.home-featured-link-solo{padding-top:10px;padding-bottom:10px}
.search-options a.selected{background:transparent url('//images.babyage.com/icons/ba/icons-sprite.png') -10px -532px no-repeat;color:#935ea7;font-weight:bold}
.search-options span{float:right;cursor:pointer}
.search-options span.attribute-count{float:none;cursor:inherit;color:#999}
.brand-letter-selector td{text-align:center;padding:3px}
.brand-letter-selector a{color:#935ea7;font-size:16px;font-weight:bold}
.brand-item a{display:block;vertical-align:middle;padding:10px;line-height:100%}
.brand-item span{float:right;display:block}
.brand-item-0{background:#f3f4f4}
.brand-item-1{background:#fff}
.product-media-container{border:1px solid #bcbec0;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;width:559px;height:380px}
.product-media-container .alternate-image{border:1px solid #bcbec0;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;padding:4px;width:64px;margin-bottom:4px}
.product-media-container .left-image-column{padding:4px 6px;border-right:1px solid #bcbec0;text-align:center}
.product-price-table td{vertical-align:middle;padding-right:8px;color:#000;font-size:13px;white-space:nowrap}
.product-price-table td.product-list-price{text-decoration:line-through}
.product-price-table td.product-our-price{font:24px arial,sans-serif;color:#be1e2d;font-weight:bold}
.product-price-table .product-sale-price,.product-price-table .product-clearance-price,.product-price-table td.product-savings{color:#be1e2d}
.motionmedia-link{display:block;border:1px solid #bcbec0;padding:2px;background:#efefef url('//images.babyage.com/icons/ba/site/gray_button_gradient.png') top left repeat-x;color:#808285;border-width:1px 0}
.product-page-title{font:22px georgia,sans-serif}
#variation-desc-name{padding:4px 0;font-weight:bold}
.product-page-price{font-size:30px;line-height:30px;font-weight:bold;padding:5px 0}
.product-page-rating-aggregate{color:#935ea7;font:10px arial,sans-serif;font-weight:bold}
.product-page-section{padding:8px 0;border-bottom:1px solid #bcbec0}
#AddToCart{margin-bottom:5px}
.product-variation-title{font-size:11px;padding-bottom:5px}
.product-additional-info{font-weight:bold}
#cart-popup{position:absolute;top:29px;left:10px;z-index:999;background:#fff;-moz-box-shadow:0 4px 4px #808285;-webkit-box-shadow:0 4px 4px #808285;box-shadow:0 4px 4px #808285;width:270px}
#cart-popup-items img{width:60px}
#cart-navigation a{padding:4px;line-height:21px;display:block;margin-left:10px}
#header-cart-column #cart-navigation a{margin-left:0}
#cart-navigation #cart-nav-link{padding:4px;line-height:21px;vertical-align:middle}
#header-cart-column #pill_links_top{padding-top:4px;padding-bottom:10px;color:#000}
.no-boxshadow #cart-popup{border:1px solid #bcbec0;border-top:10px solid #94aad8}
#cart-navigation .cart-product-name,.cart-product-name{font:13px georgia,sans-serif;display:block;padding:0;margin:0}
.cart-popup-checkout{background:#94aad8;padding:5px 8px;font-size:11px;text-align:right}
.cart-popup-subtotal{background:#c6d0ea;padding:5px 8px;font-size:11px}
.cart-popup-freeshipping{background:#935ea7;text-align:center;color:#fff;font-weight:bold;padding:5px 8px;font-size:11px}
.cart-popup-nofreeshipping{color:#935ea7;text-align:center;font-weight:bold;padding:5px 8px;font-size:11px;border-top:1px solid #bcbec0}
.cart-popup-subtotal td{font-size:11px}
.cart-popup-product-details div,.cart-popup-product-details td{font-size:11px}
#cart-popup-items{padding:3px 8px;text-align:left}
#cart-navigation .cart-popup-checkout #close-button{display:block;border:1px solid #bcbec0;padding:2px 5px;background:#efefef url('//images.babyage.com/icons/ba/site/gray_button_gradient.png') top left repeat-x;color:#808285;float:right}
.helpdesk-heading,.contract-heading{font:15px georgia,sans-serif;color:#5882c2}
h3.helpdesk-heading,h3.contract-heading{padding:20px 0 5px 0}
h3.contract-heading{font-weight:bold}
.helpdesk-phone-number{font-weight:bold}
#contact-information div{padding:2px 0}
.home-featured-link{font-weight:bold}
.blue-button,.green-button,.purple-button{border:1px solid #5882c2;background:#5882c2 url('//images.babyage.com/icons/ba/sprite-backgrounds.png') 0 -200px repeat-x;color:#fff;font:13px arial,sans-serif;padding:3px;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;width:100px;text-align:center;-webkit-text-shadow:#5882c2 1px 1px 3px;text-shadow:#5882c2 1px 1px 3px}
.green-button{border-color:#59b8b7;background-color:#59b8b7;background-position:0 -249px;-webkit-text-shadow:#59b8b7 1px 1px 3px;text-shadow:#59b8b7 1px 1px 3px}
.purple-button{border-color:#935ea7;background-color:#935ea7;background-position:0 -152px;-webkit-text-shadow:#935ea7 1px 1px 3px;text-shadow:#935ea7 1px 1px 3px}
#login-form label{display:block;text-align:right;padding-right:5px;padding-bottom:10px}
.profile-name{color:#59b8b7;font:20px georgia,serif;margin-bottom:3px}
.profile-title{color:#59b8b7;font:14px georgia,serif;margin-bottom:10px}
.profile-desc-cell{padding:10px;text-align:left}
#aboutus-wrapper table{width:800px;margin:0 auto}
#aboutus-wrapper table table{width:100%}
.ba-hidden{display:none}
#fancybox-inner .ba-hidden{display:block}
#fancybox-inner span.ba-hidden{display:inline}
#fancybox-inner .readmore-button{display:none}
#aboutus-wrapper .readmore-button{color:#5882c2;font-size:12px;margin-left:5px;cursor:pointer}
#aboutus-wrapper .readmore-button:hover{text-decoration:underline}
.profile-img{border:3px solid #59b8b7;margin-bottom:5px}
#cpsiaMainDiv{background:#ffffcd url('//images.babyage.com/icons/ba/prodpage/hazard_icon.png') 10px 10px no-repeat;border:1px solid #e47911;margin:8px 0;padding:10px 10px 10px 50px;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px}
.cpsia-item{padding-left:10px;font-size:10px;color:#000}
#cpsiaMainDiv strong{display:block;color:#000}
.product-variation-selector{padding-bottom:7px}
.product-variation-selector .selected img{border:1px solid #935ea7;padding:2px;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;-moz-box-shadow:0 0 3px #935ea7;-webkit-box-shadow:0 0 3px #935ea7;box-shadow:0 0 3px #935ea7;background:#fff;height:40px;margin-top:0;margin-bottom:0}
.product-variation-selector img{border:1px solid #bcbec0;padding:2px;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;-moz-box-shadow:0 0 3px #bcbec0;-webkit-box-shadow:0 0 3px #bcbec0;box-shadow:0 0 3px #bcbec0;background:#fff;height:30px;margin-top:5px;margin-bottom:5px}
.product-variation-selector-special-4168 img{height:50px;margin-right:10px}
.product-variation-selector-special-4168 .selected img{height:65px}
.ui-accordion-header{background:transparent;border:none}
.ui-accordion-content{border:none}
.review-rating-description{text-align:right;width:50%;white-space:nowrap}
.review-this-product-popup-content{padding:0 20px}
.review-this-product-popup-item{padding:10px 0}
.review-this-product-popup-content{padding:5px 15px;padding-bottom:0}
.review-this-product-popup-header{font-weight:bold}
.review-this-product-popup-content .textbox,.review-this-product-popup-content textarea{display:block;border:1px solid #808285;padding:5px;width:390px}
#review-this-product-star-container img{vertical-align:middle}
#make-way-for-baby{margin:0 0 10px 0}
#make-way-for-baby td{width:25%;padding:0 15px}
#make-way-for-baby div{font-size:11px;line-height:14px;padding-top:5px}
#make-way-for-baby h3 a{color:#5882c2;font:18px georgia,serif;font-style:italic;text-transform:lowercase}
#todaysnews{margin:0 auto;border-spacing:4px;border-collapse:separate}
#todaysnews td{width:320px;padding:0;text-align:right;color:#fff;font:14px georgia,serif;height:98px;background:#59b8b7 url('//images.babyage.com/icons/ba/big-item-sprite-2.png') 0 -290px no-repeat}
#todaysnews td a{color:#fff;font:14px georgia,serif;display:block;padding:0 25px;height:60px}
#todaysnews td a:hover{text-decoration:none}
#todaysnews h3 a{font-size:18px;line-height:30px;height:35px;font-weight:bold;text-align:right;font-style:italic;text-transform:lowercase;display:block}
#todaysnews .teal-news{background-color:#59b8b7}
#todaysnews .blue-news{background-color:#5882c2}
#todaysnews .purple-news{background-color:#935ea7}
.product-listing{width:100%}
.product-listing td{width:25%}
.article-table{width:100%;border-collapse:collapse;border:1px solid #5882c2}
.article-table td,.article-table th{border-bottom:1px solid #5882c2;padding:3px}
.article-table thead th{background:#5882c2;color:#fff}
.article-table tbody th{background:#94aad8;color:#fff;border-right:1px solid #5882c2;border-bottom:1px solid #94aad8}
.bedding-page-items{border-top:1px solid #bcbec0;margin:0 auto;width:980px}
.bedding-page-items td{padding:15px 10px;border-bottom:1px solid #bcbec0}
.bedding-page-items p{padding-top:20px}
.bedding-page-items td.bedding-form-col{width:150px;text-align:center}
.cart-box-wrap{border:1px solid #bcbec0;margin-bottom:10px}
.cart-box-wrap.generic-box-wrap{margin-right:10px}
#cart-box-parent .cart-box-wrap{width:300px;margin:0 0 10px auto}
td#cart-box-parent{width:300px}
.cart-box-contents td{padding:3px}
.cart-box-title{background:#c6d0ea;font-weight:bold;padding:3px 10px;padding-right:29px}
.cart-box-title-total{background:#94aad8;color:#fff}
.cart-box-title span{float:right}
.cart-box-contents{padding:5px 20px;border-top:1px solid #bcbec0}
.cart-table{border:1px solid #bcbec0;border-collapse:collapse;width:100%;margin-bottom:10px}
.cart-table th{background:#94aad8;color:#fff;padding:3px}
.cart-table td{border-bottom:1px solid #bcbec0;padding:8px 3px}
.checkout-address-form-label{width:100px;padding:5px}
.cart-table td.cart-padding-cell{width:20px;border-bottom:none}
.cart-img-cell{width:100px}
.cart-product-details span{font-size:11px}
.cart-quantity{text-align:center;width:100px}
.cart-price{text-align:right}
.checkout-step-cell{width:15%;padding-right:8px}
.checkout-step-cell,.checkout-center-cell,.checkout-right-cell{padding-bottom:10px;padding-top:10px;border-bottom:1px dotted #bbb}
.checkout-right-cell{width:30%;padding-top:10px;padding-left:8px}
.form-actions{padding:17px 20px 18px;background-color:#eee;border-top:1px solid #ddd}
#service span.error-ajax,* .error-ajax{border:1px solid #881313;background:#fbeaea;color:#881313;padding:4px;line-height:16px;vertical-align:middle;font-weight:normal;margin:10px 0;display:block}
#service span.loading-ajax,* .loading-ajax,.generic-confirm{font-weight:normal;display:block;color:#648560;padding:4px;line-height:16px;vertical-align:middle;background:#cef7c9;border:1px solid #648560}
.loading-ajax img{vertical-align:middle}
.checkout-error,.error-giftcert{color:#900;display:block;padding:5px;background:#fff url('//images.babyage.com/icons/cart/exclamation.png') 5px 5px no-repeat;border:1px solid #900;padding-left:25px;margin:5px 0;text-align:left}
.checkout-success,.confirm-giftcert{color:#090;display:block;padding:5px;background:#fff url('//images.babyage.com/icons/cart/accept.png') 5px 5px no-repeat;border:1px solid #090;padding-left:25px;margin:5px 0;text-align:left}
#verification-wrap{width:650px;text-align:left;margin:0 auto}
.verification-question{font:14px georgia,sans-serif;color:#5882c2}
.verification-question-number{font-weight:bold}
.verification-options{padding:10px 0 20px 20px}
.verification-options label{display:block;padding:3px 0}
.checkout-savings{font-weight:bold}
#service td{vertical-align:middle;padding:2px}
input.error-textbox{border:1px solid #900}
.address-selector{border-collapse:collapse}
.address-selector td{border:1px solid #bcbec0;padding:8px;cursor:pointer;width:50%}
.address-selector a{float:right}
.email-popup p{font-size:10px}
#spn_condition{float:right}
#email-signup-textbox{width:115px;padding:5px;margin-right:5px}
#email-signup-form{padding-left:10px}
.search-options-title.email-signup{color:#935ea7}
#spn_condition{height:25px}
#related-items-box{width:380px;padding-left:20px}
.ie6 #related-items-box,.ie7 #related-items-box{width:360px}
.confirmation-ordernumber{font:20px georgia,serif;padding-bottom:20px}
.bajax_message_title{font-weight:bold;padding-bottom:5px}
.bajax_message_info{background:#d9edf7;text-align:left;padding:10px;margin:5px;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;border:1px solid #bce8f1;color:#3a87ad}
.bajax_message_success{background:#dff0d8;text-align:left;padding:10px;margin:5px;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;border:1px solid #d6e9c6;color:#468847}
.bajax_message_error{background:#f2dede;padding:10px;margin:5px;color:#b94a48;border:1px solid #eed3d7;text-align:left;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px}
#ProductCustomizationWrapper{text-align:left;width:650px;margin:0 auto;border:1px solid #ccc;background:#fafafa;padding:6px}
.product-customization-top-box{background:#e8eff7;padding:10px;border:1px solid #8aa4c2}
.product-customization-top-box strong{font-size:12px}
.ProductCustomizationTableHeader td{border:none;padding:3px;font-size:11px;font-weight:bold;color:#069;border-bottom:1px solid #8aa4c2}
.ProductCustomizationTableHeaderItem1 td{padding:5px;font-size:10px;background:#fff;border-bottom:1px solid #ccc}
.ProductCustomizationTableHeaderItem2 td{padding:5px;font-size:10px;background:#fff;border-bottom:1px solid #ccc}
.ProductCustomizationTable{margin:10px 0;border:none;border-collapse:inherit!important}
u{text-decoration:none}
.customize-step{background:#fff;padding:5px;border:1px solid #ccc;margin-bottom:4px;width:300px;margin-right:12px}
.customize-step b{font-weight:normal}
.customize-step .comment{color:#666;font-size:10px;padding-top:10px}
.step-top{padding-bottom:10px;font-size:11px}
.step-top strong{font-size:11px}
.customize-step ul{list-style:none;padding:0;margin:0;padding-left:10px;font-size:11px}
.customize-step ul li{border-bottom:1px solid #eee;vertical-align:middle;line-height:20px}
.customize-step ul li input{vertical-align:top}
.customize-submit{margin-top:15px;padding-top:15px;padding-left:10px;border-top:1px solid #ccc;padding-bottom:10px;text-align:center}
.customize-submit *{vertical-align:middle;margin-right:10px}
.ezrefsenderror{color:#900}
.ezrefsendsuccess{color:#090}
.header-phone-number{color:#5882c2;font-weight:bold;font-size:15px;margin-right:20px}
.todays-theme .header-phone-number{color:#59b8b7}
.checkout-textbox{width:80%;border:1px solid #aaa;-moz-box-shadow:#ddd 0 1px 1px inset;-webkit-box-shadow:#ddd 0 1px 1px inset;box-shadow:#ddd 0 1px 1px inset}
.checkout-textbox:hover,.checkout-textbox:focus{border:1px solid #5882c2}
.checkout-textbox.zip-code{width:100px}
.comparison-table{margin:0 auto;width:850px}
.comparison-table tbody.compare-rows th,.comparison-table tbody.compare-rows td{border:1px solid #bcbec0;padding:3px;text-align:left}
.comparison-table thead th{padding:5px 3px}
.comparison-table tbody th{width:120px}
.comparison-table tbody td.comparison_na{color:#bcbec0;background:#f1f1f1;text-align:center}
.comparison-table tbody td.comparison_check{background:#edf9ec;color:#6bbe70}
.comparison-table tbody td.comparison_x{background:#f9ecec;color:#d68282}
.comparison-table tbody td.comparison_yellow{background:#ffc;color:#b90}
.gcc-table{width:800px;margin:0 auto;border-spacing:5px;border-collapse:separate}
#webinar{background:#fff url('//images.babyage.com/icons/ba/site/webinar_header.png') top left no-repeat;padding-top:110px}
#webinar table{width:800px;margin:0 auto}
#webinar td{width:50%}
#webinar h2{font:20px arial,sans-serif;font-weight:bold;padding:10px 0}
#webinar h2.blue{color:#5882c2}
#webinar h2.green{color:#aabb4d}
#webinar h2.purple{color:#935ea7}
#webinar a{text-decoration:underline;color:#2b3990}
#webinar ul,#webinar li{color:#5882c2;list-style:none;padding:0;margin:0;display:block;line-height:16px}
#webinar p{color:#5882c2;width:270px}
#webinar ul{padding-bottom:10px}
#webinar ul li{padding-left:15px;padding-bottom:2px;background:#fff url('//images.babyage.com/icons/ba/site/webinar_blue.png') 0 .3em no-repeat}
#webinar ul.green li{background-image:url('//images.babyage.com/icons/ba/site/webinar_green.png')}
.cse-sayt{border-top:2px #ccc solid;width:100%}
.cse-sayt TD{vertical-align:top;padding:5px!important;border-top:1px solid #ccc!important;cursor:pointer}
.cse-sayt tr:nth-child(odd){background-color:#f6f6f6}
.cse-sayt-text{width:100%;line-height:150%}
.cse-sayt-title{font-weight:bold}
.cse-sayt-descr{font-size:10px;line-height:18px;max-height:36px;overflow:hidden}
.cse-sayt-price{font:14px arial,sans-serif;font-weight:bold;color:#808285;margin-top:5px}
.cse-sayt .product_detail_rating{margin-top:5px;margin-bottom:5px}
#firstcandle_content img{float:left}
.firstcandle_scroll{height:300px;overflow:auto}
.firstcandle-item{clear:both}
#firstcandle_header{background:transparent url('//images.babyage.com/icons/ba/firstcandle/firstcandlenav.gif') top left no-repeat;height:105px}
#firstcandle_header ul,#firstcandle_header li{margin:0;padding:0;display:inline;list-style:none}
#firstcandle_header a{display:block;float:left;height:105px;width:94px;text-indent:-1000em;background:transparent url('//images.babyage.com/icons/ba/firstcandle/firstcandlenav.gif') 0 0 no-repeat}
#firstcandle_header a#firstcandle-intro-image{width:181px}
#firstcandle_header a:hover,#firstcandle_header a.selected{background-position:0 0}
#firstcandle_header a#firstcandle-confirmed{background-position:-181px 0}
#firstcandle_header a#firstcandle-confirmed:hover,#firstcandle_header a#firstcandle-confirmed.selected{background-position:-181px -105px}
#firstcandle_header a#firstcandle-firsttrimester{background-position:-275px 0}
#firstcandle_header a#firstcandle-secondtrimester{background-position:-369px 0}
#firstcandle_header a#firstcandle-thirdtrimester{background-position:-463px 0}
#firstcandle_header a#firstcandle-hospital{background-position:-557px 0}
#firstcandle_header a#firstcandle-home{background-position:-651px 0}
#firstcandle_header a#firstcandle-onetosix{background-position:-745px 0}
#firstcandle_header a#firstcandle-sixplus{background-position:-839px 0}
#firstcandle_header a#firstcandle-firsttrimester:hover,#firstcandle_header a#firstcandle-firsttrimester.selected{background-position:-275px -105px}
#firstcandle_header a#firstcandle-secondtrimester:hover,#firstcandle_header a#firstcandle-secondtrimester.selected{background-position:-369px -105px}
#firstcandle_header a#firstcandle-thirdtrimester:hover,#firstcandle_header a#firstcandle-thirdtrimester.selected{background-position:-463px -105px}
#firstcandle_header a#firstcandle-hospital:hover,#firstcandle_header a#firstcandle-hospital.selected{background-position:-557px -105px}
#firstcandle_header a#firstcandle-home:hover,#firstcandle_header a#firstcandle-home.selected{background-position:-651px -105px}
#firstcandle_header a#firstcandle-onetosix:hover,#firstcandle_header a#firstcandle-onetosix.selected{background-position:-745px -105px}
#firstcandle_header a#firstcandle-sixplus:hover,#firstcandle_header a#firstcandle-sixplus.selected{background-position:-839px -105px}
.firstcandle_h1{color:#497ec0;font-size:14px;font-weight:bold}
#firstcandle_wrap{padding:10px;font-family:arial,Verdana,Sans-Serif}
#firstcandle_content{padding:10px;border-bottom:1px solid #d7d7d7}
.affiliate_page h2,.affiliate_page strong{color:#4c79bd;font-weight:normal;padding:0;margin:0}
.affiliate_page{font-family:Arial,sans-serif;padding-left:15px}
.affiliate_section{border-bottom:1px solid #c9c9c9;padding:10px 0}
.affiliate_page h3{background:transparent url('//images.babyage.com/icons/ba/affiliates/affiliate-arrow.gif') 0% 50% no-repeat;padding:0 0 0 15px;margin:0}
#affiliates-sidebar,#affiliates-sidebar a,.affiliates-nav{background-image:url('//images.babyage.com/icons/ba/affiliates/affiliate_navigation.jpg');background-repeat:no-repeat}
.affiliates-nav{padding-top:103px;width:250px;border:1px solid #e8e8e8;margin:10px auto}
#affiliates-sidebar{width:274px;text-align:center;background-color:#f9f9f9;border:1px solid #e8e8e8;padding-bottom:211px;background-position:bottom right}
#affiliates-sidebar ul,#affiliates-sidebar li{list-style:none;margin:0;padding:0;display:block}
#affiliates-sidebar a{display:block;text-indent:-1000em;width:250px;height:34px}
#affiliates-sidebar a#affhome{background-position:0 -103px}
#affiliates-sidebar a#afffaq{background-position:0 -138px}
#affiliates-sidebar a#affsignup{background-position:0 -173px}
#affiliates-sidebar a#affhome:hover{background-position:-252px -103px}
#affiliates-sidebar a#afffaq:hover{background-position:-252px -138px}
#affiliates-sidebar a#affsignup:hover{background-position:-252px -173px}
#affiliates-sidebar a#affhome.selected{background-position:-505px -103px}
#affiliates-sidebar a#afffaq.selected{background-position:-505px -138px}
#affiliates-sidebar a#affsignup.selected{background-position:-505px -173px}
.page-selector,.page-selector li{list-style:none;padding:0;margin:0;display:inline}
.page-selector li.page-hellip{padding:4px}
.page-selector a{padding:2px 4px;border:1px solid #5882c2;background:#e9ecf7;margin-left:2px;display:inline-block;-ms-zoom:1;zoom:1;*display:inline}
.page-selector a:hover{background:#5882c2;color:#fff;text-decoration:none}
.page-selector .page-selected a{color:#fff;background:#5882c2;font-weight:bold;padding:2px 6px}
.search-paging-box{background:#fefefe;border:1px solid #ccc;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;padding:5px;margin-bottom:5px}
.search-paging-box.has-filters{-moz-border-radius-bottomleft:0;-webkit-border-bottom-left-radius:0;border-bottom-left-radius:0;-moz-border-radius-bottomright:0;-webkit-border-bottom-right-radius:0;border-bottom-right-radius:0}
.your-selection-filter{color:#935ea7;font-weight:bold}
.search-paging-box.has-bottom-filters{-moz-border-radius:0;-webkit-border-radius:0;border-radius:0}
.search-paging-box.holds-filters{-moz-border-radius-topleft:0;-webkit-border-top-left-radius:0;border-top-left-radius:0;-moz-border-radius-topright:0;-webkit-border-top-right-radius:0;border-top-right-radius:0;margin-top:-5px;border-top:none;background:#f6f6f6}
.search-paging-box.selection-filters{background:#fff}
.filter-link{background:url("/icons/ba/site/close_x.png") no-repeat scroll 95% 50% transparent;display:inline-block;padding:5px 20px 5px 5px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;border:1px solid #efefef}
.filter-link:hover{background-color:#efefef;text-decoration:line-through}
#email-signup-form-wrap{background:#f5f2f8;border:1px solid #ddd;padding:4px;color:#935ea7}
#email-signup-form-wrap .email-signup-copy{font:12px/22px georgia,serif;padding-top:5px;font-style:italic}
#email-signup-form-wrap .email-signup-copy span{font-size:17px}
#email-signup-form-wrap h3.email-signup{padding-left:10px;padding-bottom:6px}
.compare-remove-item-link{color:#666}
.snipe-soldout{display:none}
.snipe-lowstock{display:none}
.snipe-freegift{display:none}
.snipe-freeship{background:transparent url('//images.babyage.com/icons/ba/big-item-sprite-2.png') 0 -632px no-repeat;left:0;position:absolute;top:0;height:65px;width:174px;text-indent:-1000em}
.snipe-ecofriendly{display:none}
.snipe-expeditedgift{display:none}
.xdd-day-count{color:#be1e2d;font:12px arial,helvetica,sans-serif;font-weight:bold}
.xdd-no-extra-charge{color:#be1e2d;font:12px arial,helvetica,sans-serif}
.product_detail_shiptext .xdd-day-count,.product_detail_shiptext .xdd-no-extra-charge{display:block}
.stars{width:70px;height:14px;text-indent:-999em;background:transparent url('//images.babyage.com/icons/ba/star_sprites.png') 0 0 no-repeat;display:inline-block;-ms-zoom:1;zoom:1;*display:inline}
.stars00{background-position:-70px -14px}
.stars05{background-position:-70px 0}
.stars10{background-position:-56px -14px}
.stars15{background-position:-56px 0}
.stars20{background-position:-42px -14px}
.stars25{background-position:-42px 0}
.stars30{background-position:-28px -14px}
.stars35{background-position:-28px 0}
.stars40{background-position:-14px -14px}
.stars45{background-position:-14px 0}
.stars50{background-position:0 0}
.search-options ul,.search-options li{list-style:none;margin:0;padding:0}
#TT2ILTbox h2{color:#5882c2;font-size:12px;font-weight:normal;margin:0;width:250px}
#TT2ILTcount-line *{font-size:12px}
#TT2ILTcount-line strong{font:bold 12px arial}
#TT2ILTcount-line p{margin:0}
#TT2ILTbutton-holder{color:#935ea7;height:20px;margin-left:-6px;text-align:justify}
a.TT2ILTbutton{color:#935ea7;display:block;font-size:12px;font-weight:bold;padding:1px 6px;text-decoration:none!important}
a.TT2ILTbutton span{background-image:none;background-repeat:no-repeat;display:block;padding:0}
a.TurnToIteaSee{color:#935ea7;cursor:pointer;font-size:12px;text-decoration:none}
#second-turnto-teaser .TT2ILTbox{background:#fff url('//images.babyage.com/icons/ba/big-item-sprite-2.png') -10px -703px no-repeat;border:1px solid #935ea7;margin-bottom:10px;margin-top:10px;padding:10px;text-align:justify;width:230px}
#second-turnto-teaser .TT2ILTbox h2{color:#5882c2;font-size:12px;font-weight:normal;margin:0;width:250px}
#second-turnto-teaser .TT2ILTcount-line *{font-size:12px}
#second-turnto-teaser .TT2ILTcount-line strong{font:bold 12px arial}
#second-turnto-teaser .TT2ILTcount-line p{margin:0}
#second-turnto-teaser .TT2ILTbutton-holder{color:transparent!important;margin:30px 0 0 0;text-align:justify}
#second-turnto-teaser a.TT2ILTbutton{color:transparent!important;display:block;font-size:12px;font-weight:bold;padding:1px 6px;text-decoration:none!important}
#second-turnto-teaser a.TT2ILTbutton span{background-repeat:no-repeat;display:block;padding:0}
#second-turnto-teaser a.TurnToIteaSee{color:#935ea7;cursor:pointer;font-size:12px;text-decoration:none}
.checkout-help{font-size:11px;margin-left:10px}
.promotion{padding:5px 5px 5px 30px;background:#eee8fa url('//images.babyage.com/icons/ba/site/review_star.png') 10px 50% no-repeat;border:1px solid #935ea7;color:#935ea7;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;margin-top:10px}
.promotion a{text-decoration:underline}
.cart-table .checkout-summary-body td{border:none}
.cart-table .checkout-summary-body .blue-button{margin-top:4px;display:block}
#product-return-to-top{position:fixed;top:0;right:0;display:block;border:1px solid #bcbec0;background:#dcddde url('//images.babyage.com/icons/ba/sprite-backgrounds.png') 0 -105px repeat-x;color:#5882c2;-moz-border-radius:0 0 0 8px;-webkit-border-radius:0 0 0 8px;border-radius:0 0 0 8px;padding:8px;cursor:pointer;font-size:14px;font-weight:bold;border-right-width:0;border-top-width:0}
#product-return-to-top:hover{text-decoration:underline}
.checkout-address-form-label label{display:block;text-align:right;padding-right:10px}
.checkout-address-form-label{width:100px}
.help-block,.help-inline{color:#555}
.help-block{display:none;margin-bottom:9px}
.help-inline{display:inline-block;*display:inline;*zoom:1;vertical-align:middle;padding-left:5px}
.control-group.warning label,.control-group.warning .help-block,.control-group.warning .help-inline{color:#c09853}
.control-group.warning input,.control-group.warning select,.control-group.warning textarea{color:#c09853;border-color:#c09853}
.control-group.warning input:focus,.control-group.warning select:focus,.control-group.warning textarea:focus{border-color:#a47e3c;-webkit-box-shadow:0 0 6px #dbc59e;-moz-box-shadow:0 0 6px #dbc59e;box-shadow:0 0 6px #dbc59e}
.control-group.warning .input-prepend .add-on,.control-group.warning .input-append .add-on{color:#c09853;background-color:#fcf8e3;border-color:#c09853}
.control-group.error label,.control-group.error .help-block,.control-group.error .help-inline{color:#b94a48}
.control-group.error .help-block{display:block}
.control-group.error input,.control-group.error select,.control-group.error textarea{color:#b94a48;border-color:#b94a48}
.control-group.error input:focus,.control-group.error select:focus,.control-group.error textarea:focus{border-color:#953b39;-webkit-box-shadow:0 0 6px #d59392;-moz-box-shadow:0 0 6px #d59392;box-shadow:0 0 6px #d59392}
.control-group.error .input-prepend .add-on,.control-group.error .input-append .add-on{color:#b94a48;background-color:#f2dede;border-color:#b94a48}
.control-group.success label,.control-group.success .help-block,.control-group.success .help-inline{color:#468847}
.control-group.success input,.control-group.success select,.control-group.success textarea{color:#468847;border-color:#468847}
.control-group.success input:focus,.control-group.success select:focus,.control-group.success textarea:focus{border-color:#356635;-webkit-box-shadow:0 0 6px #7aba7b;-moz-box-shadow:0 0 6px #7aba7b;box-shadow:0 0 6px #7aba7b}
.control-group.success .input-prepend .add-on,.control-group.success .input-append .add-on{color:#468847;background-color:#dff0d8;border-color:#468847}
#social-icons a{display:block;height:34px;width:32px;float:left;text-indent:-1000em;background:transparent url('//images.babyage.com/icons/ba/big-item-sprite-2.png') -270px -400px no-repeat;margin-right:4px}
#social-icons a#pinterest-follow{background-position:-270px -434px}
#social-icons a#twitter-follow{background-position:-270px -468px}
#social-icons a:hover{-moz-opacity:.8;opacity:.8}
.payment-options{background:transparent url('//images.babyage.com/icons/ba/big-item-sprite-2.png') -5px -67px no-repeat;text-indent:-1000em;display:inline-block;width:150px;height:20px;float:none;-ms-zoom:1;zoom:1;*display:inline}
#invite-friends-banner{background:transparent url('//images.babyage.com/icons/ba/big-item-sprite-2.png') -9px -400px no-repeat;text-indent:-1000em;display:block;width:175px;height:100px;margin:5px auto}
#britax-rewards-banner{background:transparent url('//images.babyage.com/icons/ba/big-item-sprite-2.png') -9px -518px no-repeat;text-indent:-1000em;display:block;width:175px;height:100px;margin:5px auto}
.search-submit-button{border:none;padding:0;background:transparent url('//images.babyage.com/icons/ba/big-item-sprite-2.png') -210px -585px no-repeat;text-indent:-1000em;display:inline-block;width:26px;height:26px;-ms-zoom:1;zoom:1;*display:inline}
.trustwave-logo{background:transparent url('//images.babyage.com/icons/ba/big-item-sprite-2.png') -204px -519px no-repeat;text-indent:-1000em;display:inline-block;width:105px;height:54px;cursor:pointer;-ms-zoom:1;zoom:1;*display:inline}
.stella-logo{background:transparent url('//images.babyage.com/icons/ba/big-item-sprite-2.png') -229px -11px no-repeat;text-indent:-1000em;display:inline-block;width:77px;height:45px;-ms-zoom:1;zoom:1;*display:inline;float:none;color:#fff}
.cart-icon{background:transparent url('//images.babyage.com/icons/ba/icons-sprite.png') -10px -10px no-repeat;display:inline-block;width:33px;height:21px;margin-top:5px;margin-bottom:-5px;margin-right:5px;-ms-zoom:1;zoom:1;*display:inline}
.add-to-registry-button,.add-to-cart-button,.notify-me-oos-button{background:transparent url('//images.babyage.com/icons/ba/big-item-sprite-2.png') -10px -10px no-repeat;text-indent:-1000em;display:inline-block;width:175px;height:37px;border:0;-ms-zoom:1;zoom:1;*display:inline}
.add-to-registry-button{height:27px;background-position:-10px -243px}
.notify-me-oos-button{background-position:-10px -106px;margin-bottom:5px}
div.tabs-system{width:100%;margin:0 0 20px 0}
ul.tabs-system{list-style-type:none;width:100%;float:left;margin:0}
ul.tabs-system li{margin:0 2px 0 0;float:left}
ul.tabs-system a{float:left;display:block;padding:4px 8px;border:1px solid #ccc;border-bottom:0;color:#666;background:#eee;text-decoration:none;font-weight:bold}
ul.tabs-system a:hover{background:#fff}
ul.tabs-system a.active{background:#5882c2;padding-bottom:5px;cursor:default;color:#fff;border-color:#5882c2}
.tabs-container{clear:left;border:1px solid #808285;border-top:4px solid #5882c2}
.tabs-container .tab{padding:1em 1.4em}
.checkout-step{font-weight:bold}
.checkout-step span{font-size:30px;color:#bbb;font-weight:bold;float:left;width:30px;text-align:center;display:block}
#GiftMessageCount{border:1px solid #bbb;padding:3px;display:inline-block}
.product-media-container{border:1px solid #bcbec0;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;height:auto;width:400px;overflow:hidden}
.product-media-container .alternate-image{margin-bottom:6px;margin-right:2px;margin-left:2px;display:inline-block;-ms-zoom:1;zoom:1;*display:inline}
.product-media-container .left-image-column{padding:4px 0;border-top:1px solid #bcbec0;border-right:none;text-align:left;overflow:hidden}
.product-media-container .alternate-image{width:48px}
.motionmedia-link{background:transparent url('//images.babyage.com/icons/ba/site/play_demo.png') 95% 50% no-repeat;padding-right:25px;display:inline-block;border:none;-ms-zoom:1;zoom:1;*display:inline}
.product-variation-selector img{height:24px;margin-top:3px;margin-bottom:3px}
.product-variation-selector .selected img{height:30px}
#search-autocomplete{width:596px;border:1px solid #808285;position:absolute;top:26px;left:0;background:#fff;z-index:1000}
#search-autocomplete ul,#search-autocomplete li{padding:0;margin:0;list-style:none}
#search-autocomplete a{display:block;padding:4px}
#search-autocomplete a:hover{color:#fff;background:#5882c2;text-decoration:none}
.question{padding:10px}
.answers{padding-left:35px}
.answer,.staffanswer{padding:10px;border:1px solid #ddd;border-left-width:4px;margin-top:10px}
.staffanswer{border-color:#d6c6e2}
.question-box{border:0 solid #ccc;border-left-width:4px;border-top-width:1px;padding:10px;font-size:110%;background:#f4f4f4}
.staffquestion{color:#935ea7;font-style:italic}
.staffanswer b{color:#935ea7;font-style:italic}
.answer-timestamp{font-size:10px;color:#999}
.ribbon-wrapper-discount{width:85px;height:88px;position:absolute;top:-3px;right:-3px;overflow:hidden}
.ribbon-discount{font:10px arial,verdana,sans-serif;text-transform:uppercase;text-align:center;-webkit-text-shadow:rgba(0,0,0,.5) 0 1px 0;text-shadow:rgba(0,0,0,.5) 0 1px 0;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg);position:relative;padding:7px 0;left:-10px;top:25px;width:120px;background-color:#935ea7;background-image:-webkit-gradient(linear,left top,left bottom,from(#935ea7),to(#774a88));background-image:-webkit-linear-gradient(top,#935ea7,#774a88);background-image:-moz-linear-gradient(top,#935ea7,#774a88);background-image:-ms-linear-gradient(top,#935ea7,#774a88);background-image:-o-linear-gradient(top,#935ea7,#774a88);color:#fff;-webkit-box-shadow:0 0 3px rgba(0,0,0,.3);-moz-box-shadow:0 0 3px rgba(0,0,0,.3);box-shadow:0 0 3px rgba(0,0,0,.3)}
.lt-ie9 .ribbon-discount{left:0}
.ribbon-discount:before{content:"";border-top:3px solid #774a88;border-left:3px solid transparent;border-right:3px solid transparent;position:absolute;bottom:-3px;left:0}
.ribbon-discount:after{content:"";border-top:3px solid #774a88;border-left:3px solid transparent;border-right:3px solid transparent;position:absolute;bottom:-3px;right:0}
.lt-ie9 .ribbon-discount:before{display:none}
.lt-ie9 .ribbon-discount:after{border-left-color:#774a88;border-bottom-color:transparent}
.ribbon-wrapper-freeship{width:85px;height:88px;position:absolute;top:-3px;right:-3px;overflow:hidden}
.ribbon-freeship{font:10px arial,verdana,sans-serif;text-transform:uppercase;text-align:center;-webkit-text-shadow:rgba(0,0,0,.5) 0 1px 0;text-shadow:rgba(0,0,0,.5) 0 1px 0;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg);position:relative;padding:7px 0;left:-10px;top:25px;width:120px;background-color:#be1e2d;background-image:-webkit-gradient(linear,left top,left bottom,from(#be1e2d),to(#921723));background-image:-webkit-linear-gradient(top,#be1e2d,#921723);background-image:-moz-linear-gradient(top,#be1e2d,#921723);background-image:-ms-linear-gradient(top,#be1e2d,#921723);background-image:-o-linear-gradient(top,#be1e2d,#921723);color:#fff;-webkit-box-shadow:0 0 3px rgba(0,0,0,.3);-moz-box-shadow:0 0 3px rgba(0,0,0,.3);box-shadow:0 0 3px rgba(0,0,0,.3)}
.lt-ie9 .ribbon-freeship{left:0}
.ribbon-freeship:before{content:"";border-top:3px solid #921723;border-left:3px solid transparent;border-right:3px solid transparent;position:absolute;bottom:-3px;left:0}
.ribbon-freeship:after{content:"";border-top:3px solid #921723;border-left:3px solid transparent;border-right:3px solid transparent;position:absolute;bottom:-3px;right:0}
.lt-ie9 .ribbon-freeship:before{display:none}
.lt-ie9 .ribbon-freeship:after{border-left-color:#921723;border-bottom-color:transparent}
.ribbon-wrapper-britax-rewards-eligible{background:transparent url('//images.babyage.com/icons/ba/big-item-sprite-2.png') -205px -400px no-repeat;height:52px;width:52px;position:absolute;top:0;right:15px;text-indent:-1000em}
.ribbon-wrapper-britax-rewards-free-item{background:transparent url('//images.babyage.com/icons/ba/big-item-sprite-2.png') -209px -452px no-repeat;height:52px;width:52px;position:absolute;top:0;right:15px;text-indent:-1000em}
.ribbon-wrapper-ecofriendly{width:85px;height:88px;position:absolute;top:-3px;right:-3px;overflow:hidden}
.ribbon-ecofriendly{font:10px arial,verdana,sans-serif;text-transform:uppercase;text-align:center;-webkit-text-shadow:rgba(0,0,0,.5) 0 1px 0;text-shadow:rgba(0,0,0,.5) 0 1px 0;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg);position:relative;padding:7px 0;left:-10px;top:25px;width:120px;background-color:#9fd626;background-image:-webkit-gradient(linear,left top,left bottom,from(#9fd626),to(#7fab1e));background-image:-webkit-linear-gradient(top,#9fd626,#7fab1e);background-image:-moz-linear-gradient(top,#9fd626,#7fab1e);background-image:-ms-linear-gradient(top,#9fd626,#7fab1e);background-image:-o-linear-gradient(top,#9fd626,#7fab1e);color:#fff;-webkit-box-shadow:0 0 3px rgba(0,0,0,.3);-moz-box-shadow:0 0 3px rgba(0,0,0,.3);box-shadow:0 0 3px rgba(0,0,0,.3)}
.lt-ie9 .ribbon-ecofriendly{left:0}
.ribbon-ecofriendly:before{content:"";border-top:3px solid #7fab1e;border-left:3px solid transparent;border-right:3px solid transparent;position:absolute;bottom:-3px;left:0}
.ribbon-ecofriendly:after{content:"";border-top:3px solid #7fab1e;border-left:3px solid transparent;border-right:3px solid transparent;position:absolute;bottom:-3px;right:0}
.lt-ie9 .ribbon-ecofriendly:before{display:none}
.lt-ie9 .ribbon-ecofriendly:after{border-left-color:#7fab1e;border-bottom-color:transparent}
 