#main {
    overflow:visible;
}

#ev-main {
    background:url('../../images/events/holiday2011/background.png') no-repeat;
    height:780px;
    width:989px;
    color:#fff;
    padding-top:65px;
}

#ev-main h1 {
    font-size:70px;
    text-align:center;
}

#ev-main h2 {
    font-size:24px;
    text-align:center;
    font-weight:normal;
}

#img-car {
    margin:0 auto;
    width:400px;
    margin-top:30px;
}

#img-car img {
    display:none;
}

.ev-actions {
    float:left;
    margin:20px 60px;
}

.ev-actions a, .ev-actions span {
    width:325px;
    height:47px;
    display:block;
    color:#cb0000;
    font-size:18px;
    font-weight:bold;
    padding:17px 0 0 35px;
}

.ev-actions a#register, .ev-actions a#terms-lk {
    padding-left:55px;
    background:url('../../images/events/holiday2011/button_reg.png') no-repeat;
}
.ev-actions a#register:hover, .ev-actions a#terms-lk:hover {
    background:url('../../images/events/holiday2011/button_reg_hover.png') no-repeat;
    color:#fff;
}

.ev-actions span#terms-lk-disabled{
    text-align:center;
    background:url('../../images/events/holiday2011/button_reg_disabled.png') no-repeat;
}

.ev-actions a#login {
    background:url('../../images/events/holiday2011/button_login.png') no-repeat;
}
.ev-actions a#login:hover {
    background:url('../../images/events/holiday2011/button_login_hover.png') no-repeat;
    color:#fff;
}
.ev-actions a#terms-lk {
    display:none;
    text-align:center;
    padding-left:35px;
}

#terms-form .ev-actions {
    width:360px;
    float:none;
    margin:0 auto;
}

#terms-form label {
    font-size:21px;
    color:#f0b3b3;
    margin:10px auto;
    width:410px;
    display:block;
    overflow:hidden;
    padding-left:40px;
}

#terms-form label a {
    text-decoration:underline;
    color:#f0b3b3;
}

#event-terms {
    margin:40px;
    padding:0 20px 20px 20px;
    width:600px;
    height:300px;
    overflow:auto;
}

#terms-form label span.label-text {
    margin:10px;
    display:block;
    float:left;
}

a.jqTransformCheckbox {
	background: transparent url('../../images/events/holiday2011/checkbox_alt.png') no-repeat center top;
	height: 34px;
	width: 34px;
}

#event-conf h3 {
    font-size:42px;
    text-align:center;
    margin-top:100px;
    line-height:44px;
}

#social-connect {
    background:url('../../images/events/holiday2011/share_back.png') no-repeat bottom;
    width:438px;
    height:120px;
    margin:60px auto;
    text-align:center;
    font-size:18px;
}

.fb-like, .twitter-share-button { float:left !important; margin-top:32px; }
.fb-like { margin:34px 0 0 50px; width:240px;}

.add-this {
    text-align:center;
    color:#cb0000;
    margin-bottom:40px;
    overflow:hidden;
}
.add-this h3 {
    margin:10px;
    font-size:20px;
}

.expired-c {
    font-size:50px;
    line-height:52px;
    text-align:center;
    margin:60px 240px 0 240px;
}
